.welcome-fade {
    animation: fade-show 2s ease-in-out;
    transition: all 1s ease-in-out;
}

.faded-out {
    animation: fade-show 1.5s ease-in-out;
    transition: all 1s ease-in-out;
}

@keyframes fade-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.title-load {
    animation: fade-show-title 2s ease-in-out;
    transition: all 1s ease-in-out;
}

@keyframes fade-show-title {
    0% {
        opacity: 0;
        margin-top: 100vh;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

.custom-loader {
    width: 50px;
    height: 50px;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #E4E4ED #0000;
    animation: s6 1s infinite linear;
}

.custom-loader::before,
.custom-loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
}

.custom-loader {
    width: 50px;
    height: 50px;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #E4E4ED #0000;
    animation: s6 2s infinite linear;
}

.custom-loader::before,
.custom-loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
}

.custom-loader::before {
    border-color: #098666 #0000;
    animation: inherit;
    animation-duration: 1s;
    animation-direction: reverse;
}

.custom-loader::after {
    margin: 8px;
}

@keyframes s6 {
    100% {
        transform: rotate(1turn)
    }
}

.button-loading {
    animation: rotate .5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#sidebar {
    height: calc(100% - 25px);
}

.animation-fade {
    animation: fade-out 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@keyframes fade-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
